@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

video {
  inset: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2a5555;
  opacity: 0.7;
  z-index: 1;
}

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.col-5 {
  z-index: 5;
  width: 60%;
}
.section__title {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 100%;
}

.section__title h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  font-family: "Tinos";
  color: white;
}
.section__title p {
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.section__title input {
  border: none;
  border-radius: 0.5rem;
  outline: unset;
}
.section__title button {
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
  background: #2a5555;
  border: 1px solid #2a5555;
}

.icons {
  z-index: 15;
  transform: translateY(-50%);
  right: 5%;
  top: 50%;
}
.icon {
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 6;
  background-color: black;
}

@media screen and (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }
  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }
}
@media screen and (max-width: 992px) {
  .icons {
    z-index: 15;
    transform: translateX(-50%);
    left: 50%;
    bottom: 35%;
    right: 0;
    top: unset;
    right: unset;
  }
  .masthead::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .col-5 {
    width: 85%;
    position: absolute;
    top: 10%;
  }
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 80%;
  }
}
